.headerWrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.toggleButton {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-tertiary);
  color: var(--bg-primary);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.toggleButton:hover {
  transform: scale(1.1);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 2rem;
  padding-top: 3rem;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.searchInputWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.searchIcon {
  position: absolute;
  left: 12px;
  color: var(--text-primary);
  height: 18px;
  width: 18px;
}

.inputField {
  outline: none;
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  background-color: transparent;
  height: 45px;
  width: 100%;
  padding: 0 45px;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s ease;
}

.inputField:focus {

  box-shadow: 0 0 0 2px rgba(var(--bt-primary-rgb), 0.3);
  transform: scale(1.02);
}

.inputField:focus~.searchIcon {
  color: var(--bt-primary);
  transform: scale(1.1);
}

.inputField:focus~.geolocationButton {
  color: var(--text-primary);
  background-color: transparent;
  transform: translateY(-1px);
  border: 1px solid var(--bt-primary);
}

.inputField::placeholder {
  color: var(--loading-text);
  opacity: 1;
}

.geolocationButton {
  position: absolute;
  right: 8px;
  background-color: var(--bt-primary);
  color: white;
  border: none;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.7rem;
  transition: all 0.2s ease;
}

.geolocationText {
  display: none;
}

.geolocationButton:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.searchButton {
  width: 100%;
  max-width: 400px;
  background-color: var(--bt-primary);
  color: white;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: 500;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.searchButton:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 480px) {
  .geolocationButton {
    padding: 8px 12px;
  }

  .geolocationText {
    display: inline;
    font-size: 0.8rem;
  }
}
